/* Create the style for the tile, and introduction text.*/

main_title {
    font-size: 2rem;
    font-weight: 900;
    color: #ff5757;
    text-align: center;
    padding: 1rem;
}

main_intro {
    font-size: 1rem;
    font-weight: 900;
    color: #ffab2d;
    text-align: center;
    padding: 1rem;
}

.col-md-6{-ms-flex:0 0 50%; flex:0 0 50%; max-width:50%; margin: 0 auto; align-items: center; justify-content: center; padding: 1%;}

.row{display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}

.container{width:100%;padding-right:10%;padding-left:10%;margin-right:auto;margin-left:auto; align-items: center; justify-content: center;}

.hidden {
    opacity: 0;
    transition: opacity 0.5s;
    /*Make text unselectable*/
    pointer-events: none;

  }
.hidden.show {
    transition: opacity 0.5s;
    opacity: 1;
    /* Make text selectable again */
    pointer-events: auto;
    }
.hidden:not(.show) {
    opacity: 0;
    transition: opacity 0.5s;
    /*Make text unselectable*/
    pointer-events: none;
    }

#MapContainer {
    display: flex;
  }

  #RadialContainer {
    display: flex;
  }
  
  #map_us,
  #map_europe {
    flex: 1;
  }
  
  #radial_menu {
    flex: 1;
  }
  #radial_graph_style_chooser{
    top:0;
    left:0;
    position: absolute;
  }
  #map_style_chooser{
    position: relative;
  }