body {
    font-family: Alegreya Sans;
    background: #feeded;
  }
  .menu {
    position: relative;
    background: #ac8f33;
    width: 3em;
    height: 3em;
    border-radius: 5em;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    cursor: pointer;
    border: 1em solid #e9c244;
  }
  .menu:after {
    content: "";
    position: absolute;
    top: 1em;
    left: 1em;
    width: 1em;
    height: 0.2em;
    border-top: 0.6em double #fff;
    border-bottom: 0.2em solid #fff;
  }
  .menu ul {
    list-style: none;
    padding: 0;
  }
  .menu li {
    width: 5.1em;
    height: 1.4em;
    padding: 0.2em;
    margin-top: 0.2em;
    text-align: center;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    transition: all 1s;
    background: #e9c244;
    opacity: 0;
    z-index: -1;
    /*make text bold*/
    font-weight: bold;
    
  }
  .menu:hover li {
    opacity: 1;
  }
  /**
   * Add a pseudo element to cover the space
   * between the links. This is so the menu
   * does not lose :hover focus and disappear
   */
  .menu:hover ul::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    display: block;
    left: 50%;
    top: -5.0em;
    /**
     * The pseudo-element is a semi-circle
     * created with CSS. Top, bottom, and right
     * borders are 6.5em (left being 0), and then
     * a border-radius is added to the two corners
     * on the right.
     */
    border-width: 6.5em;
    border-radius: 7.5em 7.5em 7.5em 7.5em;
    border-style: solid;
    border-color: rgb(0, 0, 0, 0.01);
    z-index: -1;
    cursor: default;
    transform: translateX(-50%);
  }
  .menu a {
    color: white;
    text-decoration: none;
    /**
     * This is to vertically center the text on the
     * little tab-like things that the text is on.
     */
    line-height: 1.5em;
  }
  .menu a {
    color: white;
    text-decoration: none;
  }
  .menu ul {
    transform: rotate(180deg) translateY(-2.2em) translateX(0.6em);
    transition: 1s all;
  }
  .menu:hover ul {
    transform: rotate(0deg) translateY(-1em)translateX(-0.1em);
  }
  .menu li:hover {
    background: #c4a43a;
    z-index: 10;
  }
  
  .menu li:nth-of-type(1) {
    transform: rotate(0deg);
    position: absolute;
    left: -6.2em;
    top: 0.4em;
  }
  .menu li:nth-of-type(2) {
    transform: rotate(30deg);
    position: absolute;
    left: -5.5em;
    top: -2.1em;
  }
  .menu li:nth-of-type(3) {
    transform: rotate(60deg);
    position: absolute;
    left: -3.7em;
    top: -3.9em;
  }
    .menu li:nth-of-type(4) {
        transform: rotate(270deg);
        position: absolute;
        left: -1.2em;
        top: -4.6em;
    }
    .menu li:nth-of-type(5) {
        transform: rotate(300deg);
        position: absolute;
        left: 1.3em;
        top: -3.9em;
    }
    .menu li:nth-of-type(6) {
        transform: rotate(330deg);
        position: absolute;
        left: 3.1em;
        top: -2.1em;
    }
    .menu li:nth-of-type(7) {
        transform: rotate(360deg);
        position: absolute;
        left: 3.8em;
        top: 0.4em;
    }
    .menu li:nth-of-type(8) {
        transform: rotate(390deg);
        position: absolute;
        left: 3.1em;
        top: 2.9em;
    }
    .menu li:nth-of-type(9) {
        transform: rotate(420deg);
        position: absolute;
        left: 1.3em;
        top: 4.7em;
    }
    .menu li:nth-of-type(10) {
        transform: rotate(450deg);
        position: absolute;
        left: -1.2em;
        top: 5.4em;
        /* rotate text 180deg to make it readable */
    }
    .menu li:nth-of-type(11) {
        transform: rotate(-60deg);
        position: absolute;
        left: -3.7em;
        top: 4.7em;
    }
    .menu li:nth-of-type(12) {
        transform: rotate(-30deg);
        position: absolute;
        left: -5.5em;
        top: 2.9em;
    }
  .hint {
    text-align: center;
  }